In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_rows', 500)

In [92]:
results = pd.read_csv("cd_census_merged.csv")

In [93]:
results = results[['WARD_ED', 'OBJECTID', 'MATCH_ADDR', 'CD_FIRST_NAME', 'CD_LAST_NAME', 'CD_MIDDLE_NAME', 
              'CD_OCCUPATION', 'CD_FINAL_HOUSENUM', 'OBJECTID.x', 'CENSUS_NAMEFRSCLEAN', 'CENSUS_NAMELASTB', 
               'CENSUS_AGE', 'CENSUS_OCCLABELB', 'CENSUS_MATCH_ADDR', 'CENSUS_SEGMENT_ID']]

In [94]:
results.CD_MIDDLE_NAME.fillna('NA', inplace=True)
results.CD_OCCUPATION.fillna('NA', inplace=True)

In [95]:
results.head()

,WARD_ED,OBJECTID,MATCH_ADDR,CD_FIRST_NAME,CD_LAST_NAME,CD_MIDDLE_NAME,CD_OCCUPATION,CD_FINAL_HOUSENUM,OBJECTID.x,CENSUS_NAMEFRSCLEAN,CENSUS_NAMELASTB,CENSUS_AGE,CENSUS_OCCLABELB,CENSUS_MATCH_ADDR,CENSUS_SEGMENT_ID
0,12_630,2092,"2012 THIRD AVE, New York, NY",George,Wren,NA,pedlar li,2012,1078020,GEORGE,WREN,40,PEDDLER,"2016 3RD AVE, NYC-Manhattan, NY",4823
1,12_630,2092,"2012 THIRD AVE, New York, NY",George,Wren,NA,pedlar li,2012,1078022,GEORGE,WREN,7,*,"2016 3RD AVE, NYC-Manhattan, NY",4823
2,12_630,2343,"73 E 111 ST, New York, NY",Mary,Woolsey,A.,NA,73,1077110,MARY,WOOLSEY,52,KEEPING HOUSE,"73 111TH ST E, NYC-Manhattan, NY",4921
3,12_630,2983,"143 E 111 ST, New York, NY",Reuben,Wolff,J.,clerk,143,1077324,REUBEN,WOLFF,47,BOOKKEEPER,"143 111TH ST E, NYC-Manhattan, NY",4887
4,12_630,3424,"181 E 109 ST, New York, NY",Justin,Wohlfarth,NA,drugs,181,1076476,JUSTIN,WOHLFARTH,30,DRUGGIST,"181 109TH ST E, NYC-Manhattan, NY",4795

In [96]:
cd_num_matches = results.groupby('OBJECTID')['OBJECTID.x'].count().reset_index()

In [97]:
len(results)

138242

### Attach a flag to each match to indicate whether or not it's unique for the CD record

In [98]:
single_match_objectids = cd_num_matches[cd_num_matches['OBJECTID.x'] == 1].OBJECTID

In [99]:
single_match_object_ids = pd.DataFrame(single_match_objectids)

In [100]:
len(single_match_object_ids)

77849

In [101]:
single_match_object_ids['unique_match'] = 'YES'

In [102]:
results.drop('CD_MIDDLE_NAME', axis=1, inplace=True)
results = results.merge(single_match_object_ids, on='OBJECTID', how='left').fillna("NO")

In [103]:
results.unique_match.value_counts()

YES    77849
NO     60393
Name: unique_match, dtype: int64

In [104]:
results.sort_values(by='OBJECTID', inplace=True)

In [105]:
results.to_csv('cd_census_merged_with_flag.csv', index=False)

In [78]:
most_conflicts = grouped_results[grouped_results.CENSUS_IDENTIFIER > 1].sort_values(by = ["CENSUS_IDENTIFIER"], ascending=False)

In [ ]:
# results[(results.CENSUS_IDENTIFIER > 821935) & (results.CENSUS_IDENTIFIER < 823824)].sort_values(by=['CENSUS_IDENTIFIER'])
for index, row in most_conflicts.iterrows():
    print(results[(results.CD_IDENTIFIER == row["CD_IDENTIFIER"])])

In [57]:
results[(results.CD_IDENTIFIER == 118176) & (results.CENSUS_NAME == "MARY KELLY") & (results.CD_NAME == "Mary Kelly")]

,CD_IDENTIFIER,CD_NAME,CENSUS_IDENTIFIER,CENSUS_NAME,CONFIDENCE,CD_ADDR,CENSUS_ADDR
134336,118176,Mary Kelly,821936,MARY KELLY,HIGH,"301 E 35 ST, New York, NY","322 36TH ST E, NYC-Manhattan, NY"
134346,118176,Mary Kelly,823713,MARY KELLY,HIGH,"301 E 35 ST, New York, NY","307 35TH ST E, NYC-Manhattan, NY"
134350,118176,Mary Kelly,823823,MARY KELLY,HIGH,"301 E 35 ST, New York, NY","301 35TH ST E, NYC-Manhattan, NY"

In [70]:
del census_df

In [59]:
cd_df = pd.read_csv("/Users/candide/Acads/HNYC/cd_1880_mn_v04.csv")

In [85]:
cd_df[cd_df.OBJECTID == 22138]

,OBJECTID,MATCH_ADDR,ADDR_TYPE,ADDNUM,ADDNUMFROM,ADDNUMTO,SIDE,STPREDIR,STPRETYPE,STNAME,STTYPE,STDIR,STADDR,CITY,COUNTY,STATE,ZIP,COUNTRY,X,Y,STREETID,PCT_ALONG,CD_STREET,CD_CITY,CD_STATE,CD_FIRST_NAME,CD_LAST_NAME,CD_MIDDLE_NAME,CD_WIDOW,CD_TITLE,CD_OCCUPATION,CD_FINAL_HOUSENUM,CD_FINAL_STREET,CD_FINAL_FULLADDR,CD_NUMBER_STATUS,CD_H_STATUS,CD_CITY_1,CD_STATE_1,CD_RAW,WARD_NUM,POP_1880,CD_ED,CD_AD,LONG,LAT,CD_BLOCK_NUM
22137,22138,"11 W 46 ST, New York, NY",StreetAddress,11,1.0,79.0,R,W,NaN,46,ST,NaN,11 W 46 ST,New York,NaN,NY,NaN,USA,989939.698972,214821.527382,NaN,12.82,11 W. 46th,New York,NY,Henry,Taylor,J.,NaN,NaN,NaN,11,W. 46th,11 W. 46th,NaN,NaN,New York,NY,Taylor Henry J. h 11 W. 46th,19,1461.0,572.0,21.0,-73.979463,40.75631,3149.0

In [63]:
census_df = pd.read_csv("/Users/candide/Acads/HNYC/census_1880_mn_v04.csv")

/Users/candide/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
census_df[census_df["OBJECTID.x"] == 823713]

,OBJECTID.x,CENSUS_MERGEID,CENSUS_SERIALB,CENSUS_SERIAL,CENSUS_PERNUM,CENSUS_RECIDUS,CENSUS_REEL,CENSUS_VOLUME,CENSUS_PAGENUM,CENSUS_NAMEFRSTB,CENSUS_NAMELASTB,CENSUS_RELATE,CENSUS_RELATE_STR,CENSUS_AGE,CENSUS_SEXB,CENSUS_RACENAMEB,CENSUS_RACEB,CENSUS_NPERHHB,CENSUS_OCCLABELB,CENSUS_SEIUSBN,CENSUS_MATCH_ADDR,CENSUS_HOUSE_NUMB,CENSUS_STREETB,CENSUS_TYPEB,CENSUS_SEGMENT_ID,CENSUS_BUILDING_I,CENSUS_NEIGHBOR_1,CENSUS_NEIGHBOR_2,CENSUS_SEGGROUP_I,CENSUS_EXTGROUP_I,CENSUS_CITY,CENSUS_COUNTYUS,CENSUS_X,CENSUS_Y,CENSUS_ADDRESS,CENSUS_ENUMDIST,CENSUS_CITYNAME,CENSUS_STATENAME,CENSUS_UNITTYPE,MERGE_SRC,WARD_NUM,CENSUS_AD
823712,823713,46104884508MARYKELLY,6525656,6390586,2,01254890-1-0203-5436-$,890,1,203,MARY,KELLY,201,Spouse,45,2,white,100,8,KEEPING HOUSE,0,"307 35TH ST E, NYC-Manhattan, NY",0,307,35t,2692,2692,18993,18995,18991,709,4610,610,-73.974222,40.74524,307 35TH ST E,488,NYC-Manhattan,NY,multi unit,NYC-ManhattanCE2a,21.0,18.0

In [66]:
pd.set_option('display.max_columns', 100)

In [4]:
df_results = pd.read_csv("/Users/candide/Acads/HNYC/cd_census_merged_with_flag.csv")

### Get summary numbers on how many matches from CENSUS are unlikely to in CD becuase of their age
##### (the query was modified a few times and run to get the summary numbers presented in the README on Gtihub)

In [18]:
len(df_results[(df_results.CENSUS_AGE < 13) & (df_results.unique_match == 'NO')])

15612

### Get an idea of the missing occupations from CENSUS data, other than {blank, *}

In [5]:
df_results[df_results['CENSUS_OCCLABELB'].notnull() & 
           df_results['CENSUS_OCCLABELB'].str.match('no.*', case=False)]['CENSUS_OCCLABELB'].unique()

array(['NO BUSINESS', 'NO OCCUPATION', 'NONE', 'NOTIONS PEDDLER',
       'NO TRADE', 'NOTARY PUBLIC', 'NOT IN BUSINESS', 'NONE TRADE', 'NO',
       'NOVELTY BUSINESS', 'NOTIONS, RETAIL', 'NOTE BROKER',
       'NOT EMPLOYED', 'NOTIONS DEALER', 'NO WORK', 'NOTHING',
       'NOVELTY MANUFACTURER', 'NOTIONS STORE', 'NOVELTY DEALER',
       'NO EMPLOYMENT', 'NOT LIVING HOME', 'NO REGULAR OCCUPATION',
       'NOTIONS MERCHANT', 'NOTARY & REAL ESTATE BROKER',
       'NOT ANY BUSINESS', 'NOTIONS', 'NOTION GOODS', 'NOTARY',
       'NOT ENGAGED', 'NO BUSINESS, AT HOME', 'NOTARY AGENT',
       'NONE, KEEPING HOUSE', 'NOT AT HOME', 'NOTIONS STORE, WHOLESALE'],
      dtype=object)

A few more queries like the one in the cell immediately above bring up still more strings which indicate an absence of profession and should be taken into consideration when disambiguating between conflicts:

'NO BUSINESS'--'NO OCCUPATION'--'NONE'--'NO TRADE'--'NOT IN BUSINESS'--'NONE TRADE'--'NO'--'NOT EMPLOYED'--'NO WORK' --'NOTHING'--'NO EMPLOYMENT'--'NOT LIVING HOME'--'NO REGULAR OCCUPATION'--'NOT ANY BUSINESS'--'NOT ENGAGED'--'NO BUSINESS, AT HOME'--'NONE, KEEPING HOUSE'--'NOT AT HOME''AT SCHOOL'--'GOES TO SCHOOL'--'SCHOOL'--'ATTENDS SCHOOL'--'SCHOOL BOY'--'SCHOLAR, AT SCHOOL'--'PRIVATE SCHOOL'--'IN SCHOOL'--'SCHOOL GIRL'

There's no guarantee that this list is exhaustive and there may definitely be more strings for absent occupations.

## Constructing a confidence score
#### We will have the following components in the confidence score
1. Jaro-Winkler distance
2. No. of matches (conflicts)
3. Absence of occupation in the census (*)

In [1]:
from pyjarowinkler import distance

In [6]:
df_results["jaro_distance_firstname"] = df_results.apply(lambda x: distance.get_jaro_distance(x["CD_FIRST_NAME"],
                                        x["CENSUS_NAMEFRSCLEAN"], winkler=True, scaling=0.1), axis = 1)

In [7]:
df_results["jaro_distance_lastname"] = df_results.apply(lambda x: distance.get_jaro_distance(x["CD_LAST_NAME"],
                                        x["CENSUS_NAMELASTB"], winkler=True, scaling=0.1), axis = 1)

In [8]:
# Let's get counts of the potential matches for each cd record in the results
counts = df_results.groupby("OBJECTID")["OBJECTID.x"].count().reset_index().rename(columns = 
                                                                                   {'OBJECTID.x':'num_matches'})

In [9]:
df_results_ext = df_results.merge(counts, on='OBJECTID', how='inner')

In [10]:
# Only checking isnull() or == '*' because any other entry would mean that the occupation was not left blank,
# as Dan had suggested
df_results_ext['census_occupation_listed'] = df_results_ext.CENSUS_OCCLABELB.apply(lambda x: 0 
                                                    if (not x) or (x == '*') else 1)

In [11]:
df_results_ext['jaro_winkler_aggr_score'] = .4*df_results_ext['jaro_distance_firstname'] + \
                                                .6*df_results_ext['jaro_distance_lastname']

In [12]:
df_results_ext.head()

,WARD_ED,OBJECTID,MATCH_ADDR,CD_FIRST_NAME,CD_LAST_NAME,CD_OCCUPATION,CD_FINAL_HOUSENUM,OBJECTID.x,CENSUS_NAMEFRSCLEAN,CENSUS_NAMELASTB,CENSUS_AGE,CENSUS_OCCLABELB,CENSUS_MATCH_ADDR,CENSUS_SEGMENT_ID,unique_match,jaro_distance_firstname,jaro_distance_lastname,num_matches,census_occupation_listed,jaro_winkler_aggr_score
0,22_513,3,"504 W 55 ST, New York, NY",Stephen,Zoller,molder,504,862548,STEPHEN,ZELLER,40,IRON MOULDER,"504 55TH ST W, NYC-Manhattan, NY",3789,YES,1.0,0.84,1,1,0.904
1,22_469,4,"210 W 46 ST, New York, NY",Oscar,Zollikoffer,pres,210,795510,OSCAR,ZOLLIKOFFER,70,"PRESIDENT, METROPOLITAN GAS CO.","210 46TH ST W, NYC-Manhattan, NY",3357,YES,1.0,1.00,1,1,1.000
2,19_582,6,"65 W 54 ST, New York, NY",Oscar,Zollikoffer,sec,65,978306,OSCAR,ZOLLIKOFFER,33,"SECRETARY, MET. GAS LIGHT CO.","65 54TH ST W, NYC-Manhattan, NY",3488,YES,1.0,1.00,1,1,1.000
3,4_36,8,"5 N William St, New York, NY",Robert,Zoller,birds,5,56054,ROBERT,ZALLER,31,BIRD IMPORTER,"5 WILLIAM ST N, NYC-Manhattan, NY",531,YES,1.0,0.90,1,1,0.940
4,11_305,13,"344 E HOUSTON ST, New York, NY",Leopold,Zollmann,shoes,344,522583,LEOPOLD,ZOLLMANN,30,SHOE MAKER,"342 HOUSTON ST E, NYC-Manhattan, NY",1283,YES,1.0,1.00,1,1,1.000

## Constructing a confidence score
#### Using the following weightage for the 3 components in the confidence score
1. **50%** - Jaro-Winkler distance
2. **35%** - No. of matches (conflicts)
3. **15%** - Absence of occupation in the census (*)

In [14]:
df_results_ext['confidence_score'] = .5*df_results_ext.jaro_winkler_aggr_score + .35*(1/df_results_ext.num_matches) +\
                                        + .15*df_results_ext.census_occupation_listed

In [15]:
df_results_ext['confidence_score'] = df_results_ext.confidence_score.round(decimals=2)

In [16]:
# df_results_ext[['OBJECTID', 'CD_FIRST_NAME', 'CD_LAST_NAME', 'MATCH_ADDR', 'CD_OCCUPATION', 'num_matches', 'OBJECTID.x', 'CENSUS_NAMEFRSCLEAN', 'CENSUS_NAMELASTB',
#                 'CENSUS_MATCH_ADDR', 'CENSUS_AGE', 'CENSUS_OCCLABELB', 'census_occupation_listed', 'jaro_winkler_aggr_score', 
#                 'confidence_score']].to_csv("match_results_confidence_score.csv", index=False)

In [17]:
df_results_ext.head()

,WARD_ED,OBJECTID,MATCH_ADDR,CD_FIRST_NAME,CD_LAST_NAME,CD_OCCUPATION,CD_FINAL_HOUSENUM,OBJECTID.x,CENSUS_NAMEFRSCLEAN,CENSUS_NAMELASTB,...,CENSUS_OCCLABELB,CENSUS_MATCH_ADDR,CENSUS_SEGMENT_ID,unique_match,jaro_distance_firstname,jaro_distance_lastname,num_matches,census_occupation_listed,jaro_winkler_aggr_score,confidence_score
0,22_513,3,"504 W 55 ST, New York, NY",Stephen,Zoller,molder,504,862548,STEPHEN,ZELLER,...,IRON MOULDER,"504 55TH ST W, NYC-Manhattan, NY",3789,YES,1.0,0.84,1,1,0.904,0.95
1,22_469,4,"210 W 46 ST, New York, NY",Oscar,Zollikoffer,pres,210,795510,OSCAR,ZOLLIKOFFER,...,"PRESIDENT, METROPOLITAN GAS CO.","210 46TH ST W, NYC-Manhattan, NY",3357,YES,1.0,1.00,1,1,1.000,1.00
2,19_582,6,"65 W 54 ST, New York, NY",Oscar,Zollikoffer,sec,65,978306,OSCAR,ZOLLIKOFFER,...,"SECRETARY, MET. GAS LIGHT CO.","65 54TH ST W, NYC-Manhattan, NY",3488,YES,1.0,1.00,1,1,1.000,1.00
3,4_36,8,"5 N William St, New York, NY",Robert,Zoller,birds,5,56054,ROBERT,ZALLER,...,BIRD IMPORTER,"5 WILLIAM ST N, NYC-Manhattan, NY",531,YES,1.0,0.90,1,1,0.940,0.97
4,11_305,13,"344 E HOUSTON ST, New York, NY",Leopold,Zollmann,shoes,344,522583,LEOPOLD,ZOLLMANN,...,SHOE MAKER,"342 HOUSTON ST E, NYC-Manhattan, NY",1283,YES,1.0,1.00,1,1,1.000,1.00

**UPDATE (02/02/2020)** - The final results file with confidence scores - `match_results_confidence_score.csv`, was missing the following relevant fieds, as Dan pointed out:

- WARD
- ED
- SEGMENT_ID
- BLOCK_ID

Will read the original census and cd data files to fetch these fields and update the file `match_results_confidence_score.csv`.
WARD, ED, and SEGMENT_ID are present in `census_1880_mn_v04.csv` and BLOCK_ID is present in `cd_1880_mn_v04.csv`

In [4]:
df_results_ext = pd.read_csv("match_results_confidence_score.csv")

In [13]:
# SET THE FILE PATH CORRECTLY BEFORE RUNNING THIS CELL

# reading the original data file, can be found in the shared Google drive folder,
# didn't upload it in this Github repo due to large size of the file

census_df = pd.read_csv("census_1880_mn_v04.csv")

In [11]:
# Recall the exact names of the fields in the original census file
census_df.columns.values

array(['OBJECTID.x', 'CENSUS_MERGEID', 'CENSUS_SERIALB', 'CENSUS_SERIAL',
       'CENSUS_PERNUM', 'CENSUS_RECIDUS', 'CENSUS_REEL', 'CENSUS_VOLUME',
       'CENSUS_PAGENUM', 'CENSUS_NAMEFRSTB', 'CENSUS_NAMELASTB',
       'CENSUS_RELATE', 'CENSUS_RELATE_STR', 'CENSUS_AGE', 'CENSUS_SEXB',
       'CENSUS_RACENAMEB', 'CENSUS_RACEB', 'CENSUS_NPERHHB',
       'CENSUS_OCCLABELB', 'CENSUS_SEIUSBN', 'CENSUS_MATCH_ADDR',
       'CENSUS_HOUSE_NUMB', 'CENSUS_STREETB', 'CENSUS_TYPEB',
       'CENSUS_SEGMENT_ID', 'CENSUS_BUILDING_I', 'CENSUS_NEIGHBOR_1',
       'CENSUS_NEIGHBOR_2', 'CENSUS_SEGGROUP_I', 'CENSUS_EXTGROUP_I',
       'CENSUS_CITY', 'CENSUS_COUNTYUS', 'CENSUS_X', 'CENSUS_Y',
       'CENSUS_ADDRESS', 'CENSUS_ENUMDIST', 'CENSUS_CITYNAME',
       'CENSUS_STATENAME', 'CENSUS_UNITTYPE', 'MERGE_SRC', 'WARD_NUM',
       'CENSUS_AD'], dtype=object)

In [14]:
census_df = census_df[['OBJECTID.x', 'WARD_NUM', 'CENSUS_ENUMDIST', 'CENSUS_SEGMENT_ID']]

In [15]:
df_results_ext = df_results_ext.merge(census_df, on = 'OBJECTID.x', how = 'inner')

In [16]:
del census_df

In [17]:
# SET THE FILE PATH CORRECTLY BEFORE RUNNING THIS CELL

# reading the original data file, can be found in the shared Google drive folder,
# didn't upload it in this Github repo due to large size of the file

cd_df = pd.read_csv("cd_1880_mn_v04.csv")

In [18]:
# Recall the exact names of the fields in the original cd file. Only require BLOCK ID for our purpose
cd_df.columns.values

array(['OBJECTID', 'MATCH_ADDR', 'ADDR_TYPE', 'ADDNUM', 'ADDNUMFROM',
       'ADDNUMTO', 'SIDE', 'STPREDIR', 'STPRETYPE', 'STNAME', 'STTYPE',
       'STDIR', 'STADDR', 'CITY', 'COUNTY', 'STATE', 'ZIP', 'COUNTRY',
       'X', 'Y', 'STREETID', 'PCT_ALONG', 'CD_STREET', 'CD_CITY',
       'CD_STATE', 'CD_FIRST_NAME', 'CD_LAST_NAME', 'CD_MIDDLE_NAME',
       'CD_WIDOW', 'CD_TITLE', 'CD_OCCUPATION', 'CD_FINAL_HOUSENUM',
       'CD_FINAL_STREET', 'CD_FINAL_FULLADDR', 'CD_NUMBER_STATUS',
       'CD_H_STATUS', 'CD_CITY_1', 'CD_STATE_1', 'CD_RAW', 'WARD_NUM',
       'POP_1880', 'CD_ED', 'CD_AD', 'LONG', 'LAT', 'CD_BLOCK_NUM'],
      dtype=object)

In [19]:
df_results_ext = df_results_ext.merge(cd_df[['OBJECTID', 'CD_BLOCK_NUM']], on = 'OBJECTID', how = 'inner')

In [20]:
df_results_ext.head()

,OBJECTID,CD_FIRST_NAME,CD_LAST_NAME,MATCH_ADDR,CD_OCCUPATION,num_matches,OBJECTID.x,CENSUS_NAMEFRSCLEAN,CENSUS_NAMELASTB,CENSUS_MATCH_ADDR,CENSUS_AGE,CENSUS_OCCLABELB,census_occupation_listed,jaro_winkler_aggr_score,confidence_score,WARD_NUM,CENSUS_ENUMDIST,CENSUS_SEGMENT_ID,CD_BLOCK_NUM
0,3,Stephen,Zoller,"504 W 55 ST, New York, NY",molder,1,862548,STEPHEN,ZELLER,"504 55TH ST W, NYC-Manhattan, NY",40,IRON MOULDER,1,0.904,0.95,22.0,513,3789,1673.0
1,4,Oscar,Zollikoffer,"210 W 46 ST, New York, NY",pres,1,795510,OSCAR,ZOLLIKOFFER,"210 46TH ST W, NYC-Manhattan, NY",70,"PRESIDENT, METROPOLITAN GAS CO.",1,1.000,1.00,22.0,469,3357,447.0
2,6,Oscar,Zollikoffer,"65 W 54 ST, New York, NY",sec,1,978306,OSCAR,ZOLLIKOFFER,"65 54TH ST W, NYC-Manhattan, NY",33,"SECRETARY, MET. GAS LIGHT CO.",1,1.000,1.00,19.0,582,3488,3190.0
3,8,Robert,Zoller,"5 N William St, New York, NY",birds,1,56054,ROBERT,ZALLER,"5 WILLIAM ST N, NYC-Manhattan, NY",31,BIRD IMPORTER,1,0.940,0.97,4.0,36,531,927.0
4,13,Leopold,Zollmann,"344 E HOUSTON ST, New York, NY",shoes,1,522583,LEOPOLD,ZOLLMANN,"342 HOUSTON ST E, NYC-Manhattan, NY",30,SHOE MAKER,1,1.000,1.00,11.0,305,1283,294.0

In [26]:
df_results_ext = df_results_ext.astype({'WARD_NUM': 'int32', 'CD_BLOCK_NUM': 'int32'}, copy = False)

In [27]:
# All set. Write these results to the file "match_results_confidence_score.csv"
df_results_ext[['OBJECTID', 'CD_FIRST_NAME', 'CD_LAST_NAME', 'MATCH_ADDR', 'CD_OCCUPATION', 'num_matches', \
                'OBJECTID.x', 'CENSUS_NAMEFRSCLEAN', 'CENSUS_NAMELASTB', 'CENSUS_MATCH_ADDR', 'CENSUS_AGE', \
                'CENSUS_OCCLABELB', 'WARD_NUM', 'CENSUS_ENUMDIST', 'CENSUS_SEGMENT_ID', 'CD_BLOCK_NUM', \
                'census_occupation_listed', 'jaro_winkler_aggr_score', \
                'confidence_score']].to_csv("match_results_confidence_score.csv", index=False)