In [1]:
import pandas as pd

In [10]:
es1880_amo = pd.read_csv("../data/es-1880-2-3-2020.csv", engine='python', sep='\t')

In [4]:
es1880 = pd.read_csv("../data/test.csv", engine='python', sep='\t')

In [5]:
es1880.columns

Index(['OBJECTID.x', 'CENSUS_NAMEFRSTB', 'CENSUS_NAMELASTB', 'CENSUS_AGE',
       'CENSUS_OCCLABELB', 'CENSUS_MATCH_ADDR', 'CENSUS_SEGMENT_ID',
       'WARD_NUM', 'CD_ED', 'OBJECTID', 'MATCH_ADDR', 'CD_FIRST_NAME',
       'CD_LAST_NAME', 'CD_OCCUPATION', 'CD_FINAL_HOUSENUM'],
      dtype='object')

In [12]:
es1880.loc[es1880.CENSUS_NAMEFRSTB.str.lower() != es1880.CD_FIRST_NAME.str.lower(), ['CENSUS_NAMEFRSTB', 'CENSUS_NAMELASTB', 'CD_FIRST_NAME', 'CD_LAST_NAME']].head(20)

    CENSUS_NAMEFRSTB CENSUS_NAMELASTB CD_FIRST_NAME CD_LAST_NAME
8              RICKA       ZORKOWSKIE         Rieka    Zorkowski
22              GEO.           ZUCKER           Geo       Zucker
30         VALENTINO            ZULCH     Valentine        Zulch
46             ANNIE           ZWIGER          John       Zwiger
75              ANNE             ZEPP          John         Zipp
77              ANNA             ZEPP          John         Zipp
86            ANTHON             ZOCK       Anthony         Zock
87            ANTHON             ZOCK       Anthony         Zock
90          FREDRICK            ZOREB     Frederick        Zoerb
93              JOHN           ZIMMER         Annie       Zimmer
115          PHILLIP           ZIMMER        Philip       Zimmer
116          PHILLIP           ZIMMER        Philip       Zimmer
121           ATILLA           ZIMMER          Otto       Zimmer
128            ANNIE           SOMMER          John       Zimmer
139           LOUISA        ZIMMERMAN        Louise    Zimmerman
140            LOUIS        ZIMMERMAN        Louise    Zimmerman
149           ISADOR        ZIMMERMAN        Isidor   Zimmermann
150           GOSTIF       ZIMMERMANN        Gustav   Zimmermann
165         THEADORE        ZIMMERMAN      Theodore   Zimmermann
172          CAROLIN          ZETTLER      Caroline      Zettler

In [13]:
es1880_amo.loc[es1880_amo.CENSUS_NAMEFRSTB.str.lower() != es1880_amo.CD_FIRST_NAME.str.lower(), ['CENSUS_NAMEFRSTB', 'CENSUS_NAMELASTB', 'CD_FIRST_NAME', 'CD_LAST_NAME']].head(20)

      CENSUS_NAMEFRSTB CENSUS_NAMELASTB CD_FIRST_NAME CD_LAST_NAME
17                GEO.           ZUCKER           Geo       Zucker
3147              GEO.          WHEELER           Geo      Wheeler
3148              GEO.          WHEELER           Geo      Wheeler
5406              EDW.          WALLACE           Edw      Wallace
5997              GEO.       WADDINGTON           Geo   Waddington
6502              GEO.       VANDERBILT           Geo   Vanderbilt
9645            ELIZA.         SULLIVAN         Eliza     Sullivan
13414             GEO.            SMITH           Geo        Smith
14659            THEO.         SHOTWELL          Theo     Shotwell
16041             GEO.            SCOTT           Geo        Scott
16115             GEO.         SCHWERDT           Geo     Schwerdt
17486             GEO.      SCHIEFFELIN           Geo  Schieffelin
20795             GEO.          ROBERTS           Geo      Roberts
25880             GEO.           PARKER           Geo       Parker
27670           HENRY,          NICHOLS         Henry      Nichols
31183             GEO.         MORRISON           Geo     Morrison
31345             GEO.           MORRIS           Geo       Morris
34433             GEO.         MEHRTENS           Geo     Mehrtens
35502           HENRY.           MARTIN         Henry       Martin
36181             GEO.       MANCHESTER           Geo   Manchester